body {
  background-color: #666;
  width: 100vw;
  height: 100vh;
}
* {
  margin: 0;
  font-size: 1.5rem;
}
*:not(button) {
  padding: 0;
}
#reset {
  height: 10vh;
  width: 100vw;
}
#content {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5vw;
}
#flag-box {
  width: 74vw;
}
img#flag {
  max-width: 74vw;
  height: 85vh!important;
}
#answer {
  width: 24vw;
  height: 40vh;
}
